@import "../../styles/media.scss";

.title {
  font-weight: 800;
  font-size:22px;

  @media screen and (max-width: $tablet) {
    text-align: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .button {
    max-width: 350px;
    width: 100%;
  }
}