@import "../../styles/colors.module.scss";

.emptyCard {
  margin-top: 32px;
}

.wrapper {
  margin-top: 32px;

  .titleWrapper {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
    justify-content: space-between;
  }

  .input {
    max-width: 400px;
    width: 100%;
  }

  .noteWrapper {
    display: flex;
    flex-direction: column;
    gap:24px;
    margin-top:24px;
  }
    
  .title {
    font-size: 22px;
    font-weight: 800;
  }
  
  .emptyTitle {
    text-align: center;
    color: $gray;
  }
}

  
  
  
  
  