@import "../../styles/colors.scss";

.labelContainer {
  display: flex;
  align-items: flex-end;
  gap:24px;

  .label {
    font-size: 24px;
    font-weight: 800;
  }

  .date {
    font-size: 14px;
    color: $gray;
  }
}


.card {
  margin: 12px 0px 24px 0px;

  .description {
    overflow-wrap: break-word;
  }
  
  .line {
    width: 100%;
    height: 1px;
    margin: 10px 0px;
    background-color: $line;
  }
  
  .editToggle {
    font-size: 15px;
    padding:12px;
    color: $gray;
    cursor: pointer
  }
  
  .buttonWrapper {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-top:12px;
  
    .editButton {
      max-width: 150px;
      width: 100%;
      padding:12px
    }
  
    .cancel {
      color: $gray;
      cursor: pointer;
    }
  }
}



.button {
  margin: 12px 0px;
}

.commentsTitle {
  font-size:18px;
  font-weight: 800;
  margin-bottom: 12px;
}

.comments {
  margin:24px 0px;

  .comment {
    overflow-wrap: break-word;
  }

  .emptyTitle {
    color: $gray;
    text-align: center;
  }
}

