@import "../../styles/colors.module.scss";

.wrapper {
  margin-bottom: 5px;

  .breadcrumbs {
    display: flex;
  }

  .label {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: gray;
    text-decoration: none;
  }
}

