@import "../../styles/colors.scss";

.card {
  position: relative;

  .date {
    color: $gray;
    font-size: 12px;
    margin-bottom: 12px;
  }
  
  .label {
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    color: $black
  }
  
  .line {
    width: 100%;
    height: 1px;
    margin: 10px 0px;
    background-color: $line;
  }

  .description {
    overflow-wrap: break-word;
  }

  .removeAction {
    color: $gray;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 8px;
  }
}